body {
  font-family: 'Lato';
  font-size: 1.2rem;
  background: #831a83;
}

ul {
  list-style-type: none;
  padding: 20px;
}

li {
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
}

#error li {
  background: #c04621;
}

#output li {
  background: white;
}
